.callback-form {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 50px 60px;

  border-radius: 20px;
  background-color: $white;
  @media screen and (max-width: 1360px) {
    padding: 30px 40px;
  }
  &__title,
  &__subtitle {
    text-align: center;

    font-family: $ProbaPro-Medium;
  }
  &__title {
    margin-bottom: 40px;

    color: $purple;

    font-size: 36px;
    @media screen and (max-width: 1360px) {
      margin-bottom: 18px;
      font-size: 26px;
    }
  }
  &__subtitle {
    color: $orange;

    font-size: 30px;
    line-height: 36px;
    @media screen and (max-width: 1360px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.timer {
  margin-top: 20px;
  margin-bottom: 35px;

  text-align: center;

  color: #a7a7a7;

  font-family: $SourceSansPro-Semibold;
  font-size: 18px;
    @media screen and (max-width: 1360px) {
      margin-top: 15px;
      margin-bottom: 25px;
    }
  &:before {
    position: relative;

    display: inline-block;

    margin-right: 10px;

    content: "";
    vertical-align: middle;

    @include bg($alarm-clock);
  }
  &__item {
    padding-right: 5px;
    padding-left: 5px;
  }
}
