mixin callback-form(param)
  .callback-form
    - if (param != 'notext') 
      .callback-form__title Запишитесь в наш детский сад
      .callback-form__subtitle Идет набор на 2016/17  год <br> для детей от 1,5 до 7 лет. Зачисление <br> по итогам тестирования.
      +timer
    - else 
      .callback-form__title Перезвоните мне
    form().form.js-form
      input(type="text" name="name" placeholder="Имя и фамилия" required="required").form-element
      input(type="text" name="phone" required="required").form-element.numbered
      input(type="submit" value="Записаться").button.button--orange.big.form-button