doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/change-language/change-language
  include ../components/top-menu/top-menu
  include ../components/call-me/call-me
  include ../components/footer/footer

  //- sections
  include ../components/section-top/section-top
  include ../components/section-about/section-about
  include ../components/section-map/section-map
  include ../components/section-gallery/section-gallery
  include ../components/section-elite/section-elite
  //- sections

  head
    +head(head.defaults)
  body
    +header
    #fullpage
      +section-top
      +section-about
      +section-map
      +section-gallery
      +section-elite
    +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')