mixin section-education(data)
  .section-education.section(data-anchor="education")
    .section-education__wrapper
      .section-education-left
        .section-education-gallery
          .slide-control
            .slide-control__arrow.slide-control__arrow--prev(class="fp-controlArrow")
            .slide-control__arrow.slide-control__arrow--next(class="fp-controlArrow")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-1.jpg') no-repeat;")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-2.jpg') no-repeat;")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-3.jpg') no-repeat;")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-4.jpg') no-repeat;")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-5.jpg') no-repeat;")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-6.jpg') no-repeat;")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-7.jpg') no-repeat;")
          .section-education-gallery-slide.slide
            .section-education-gallery-slide-image(style="background: url('%=static=%images/assets/section-education/slide-8.jpg') no-repeat;")
      .section-education-right
        .section-education-title.title
          h2.c-purple Образование
          h3.c-orange Современное международное <br>образование для вашего ребенка

        .section-education-content.content
          p.c-purple Ваших детей обучает ведущий международный оператор России. Наши выпускники имеют приоритетное право на поступление в ведущие мировые университеты: Гарвард, Стенфорд и др.

          a(href="#" title="").button.button--orange.small Подробнее

        .section-education-bottom
          .section-education-bottom-item.section-education-bottom-item--first
            .section-education-bottom-item__text Детский сад
          .section-education-bottom-item.section-education-bottom-item--center
            .section-education-bottom-item__text Школа International Baccalaureate
          .section-education-bottom-item.section-education-bottom-item--last
            .section-education-bottom-item__text Университет Гарвард, Стенфорд