// Common styles of the project

html,
body {
  height: 100%;

  font-size: $global-font-size;
}

.wrapper {
  right: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
