@include font-face(ProbaPro-Light, "../fonts/ProbaPro-Light");
$ProbaPro-Light: 'ProbaPro-Light', Helvetica, Arial, sans-serif;

@include font-face(ProbaPro-Medium, "../fonts/ProbaPro-Medium");
$ProbaPro-Medium: 'ProbaPro-Medium', Helvetica, Arial, sans-serif;

@include font-face(ProbaPro-Regular, "../fonts/ProbaPro-Regular");
$ProbaPro-Regular: 'ProbaPro-Regular', Helvetica, Arial, sans-serif;

@include font-face(ProbaPro-SemiBold, "../fonts/ProbaPro-SemiBold");
$ProbaPro-SemiBold: 'ProbaPro-SemiBold', Helvetica, Arial, sans-serif;

@include font-face(SourceSansPro-Bold, "../fonts/SourceSansPro-Bold");
$SourceSansPro-Bold: 'SourceSansPro-Bold', Helvetica, Arial, sans-serif;

@include font-face(SourceSansPro-Regular, "../fonts/SourceSansPro-Regular");
$SourceSansPro-Regular: 'SourceSansPro-Regular', Helvetica, Arial, sans-serif;

@include font-face(SourceSansPro-Semibold, "../fonts/SourceSansPro-Semibold");
$SourceSansPro-Semibold: 'SourceSansPro-Semibold', Helvetica, Arial, sans-serif;