// File for scss-vars.
// For example: main colors, paddings and so on.

// colors

$white: #fff;
$orange: #ff6600;
$purple: #574193;
$green: #82ac2c;
$dark-green: #739827;
$gray: #575757;

// base-size
$global-font-size: 100%;