// File for scss-vars.
// For example: main colors, paddings and so on.

// colors

$white: #fff;
$orange: #ff6600;
$light-orange: #f3b860;
$purple: #574193;
$dark-purple: #3f2f6b;
$green: #82ac2c;
$dark-green: #739827;
$gray: #575757;
$blue: #489ce1;


// base-size
$global-font-size: 100%;