mixin section-top(data)
  .section.section-top(data-anchor="top")
    .section-top__wrapper
      .elipse
      .cloud
      .section-top-advantages
        .section-top-advantages__item Международное образование
        .section-top-advantages__item Удобное расположение
        .section-top-advantages__item Экологичное место
        .section-top-advantages__item Прекрасное окружение

      .section-top-title
        h1 Билингвальный детский сад 
          span в Крылатском

      .section-top-set Идет набор на 2016/17 год для детей от 1,5 до 7 лет. Зачисление по итогам тестирования.

      .section-top-bottom
        .section-top-bottom__left
          a(href="#" title="" data-click="modal").section-top-button.button.button--orange.big Записаться
          a(href="#about" title="" data-menuanchor="about").section-top-next Перейти дальше
        .section-top-bottom__right
          .section-top-social
            a(href="#" title="").section-top-social__item.section-top-social__item--fb
            a(href="#" title="").section-top-social__item.section-top-social__item--vk
            a(href="#" title="").section-top-social__item.section-top-social__item--in
    .section-top-image
    +modal