.section-top {
  position: relative;

  overflow: hidden;

  box-sizing: border-box;

  background-color: $purple;
  &__wrapper {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    left: 0;

    padding-right: 87px;
    padding-left: 87px;

    transform: translateY(-50%);

    @extend .wrapper;
  }
  .cloud {
    z-index: 0;
    top: 50%;
    right: -178px;

    transform: translateY(-50%);
  }
  .elipse {
    bottom: -220px;
    left: -150px;
  }
}

.section-top-image {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;

  width: 40%;
  height: 100%;

  transform: translateY(-50%);

  background: url(%=static=%assets/section-top/baby3.png) no-repeat center;
  background-size: cover;
}

.section-top-advantages {
  font-family: $ProbaPro-Regular;

  flex-wrap: wrap;
  @include flex(flex-start, flex-start);
  @media screen and (max-width: 2560px) {
    max-width: 60%;

    font-size: 34px;
  }
  @media screen and (max-width: 1680px) {
    max-width: 700px;

    font-size: 24px;
  }
  &__item {
    position: relative;

    margin-right: 35px;
    margin-bottom: 12px;
    padding-left: 30px;

    color: $white;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;

      width: 15px;
      height: 15px;

      transform: translateY(-50%);

      border-radius: 50%;
      background-color: $orange;

      @include content;
    }
  }
}

.section-top-title {
  position: relative;
  z-index: 1;

  margin-top: 70px;
  margin-bottom: 50px;

  color: $white;
  @media screen and (max-width: 2560px) {
    max-width: 60%;
  }
  @media screen and (max-width: 1680px) {
    max-width: 700px;
  }
  @media screen and (max-width: 1360px) {
    max-width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h1 {
    font-family: $ProbaPro-SemiBold;
    font-weight: normal;
    @media screen and (max-width: 2560px) {
      font-size: 140px;
      line-height: 120px;
    }
    @media screen and (max-width: 1680px) {
      font-size: 100px;
      line-height: 80px;
    }
    @media screen and (max-width: 1360px) {
      font-size: 70px;
      line-height: 50px;
    }
    span {
      display: block;

      font-family: $ProbaPro-Light;
      @media screen and (max-width: 2560px) {
        line-height: 110px;
      }
      @media screen and (max-width: 1680px) {
        line-height: 90px;
      }
      @media screen and (max-width: 1360px) {
        line-height: 70px;
      }
    }
  }
}

.section-top-bottom {
  margin-top: 50px;

  @include flex(space-between, center);
}

.section-top-set {
  position: relative;
  z-index: 1;

  color: $orange;

  font-family: $ProbaPro-Regular;
  line-height: 1;
  @media screen and (max-width: 2560px) {
    max-width: 50%;

    font-size: 40px;
  }
  @media screen and (max-width: 1680px) {
    max-width: 700px;

    font-size: 30px;
  }
  @media screen and (max-width: 1360px) {
    max-width: 50%;

    font-size: 24px;
  }
}

.section-top-next {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  margin-left: 20px;

  text-decoration: none;

  color: $white;
  border: 2px solid $white;
  border-radius: 40px;

  font-family: $SourceSansPro-Semibold;
  @media screen and (max-width: 2560px) {
    width: 310px;
    height: 60px;
    padding-left: 67px;

    font-size: 26px;
    line-height: 56px;
  }
  @media screen and (max-width: 1680px) {
    width: 210px;
    height: 40px;
    padding-left: 57px;

    font-size: 16px;
    line-height: 34px;
  }
  &:before {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    @include content;
    @include bg($arrow-bottom);
    @media screen and (max-width: 2560px) {
      left: 30px;
    }
    @media screen and (max-width: 1680px) {
      left: 20px;
    }
  }
}


.section-top-social {
  position: relative;
  z-index: 99;
  &__item {
    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 10px;

    vertical-align: middle;

    border-radius: 50%;
    background-color: $orange;

    @include transition;
    &:hover {
      background-color: $orange + #111;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%,-50%);

      @include content;
    }
    &--fb {
      &:before {
        @include bg($fb);
      }
    }
    &--vk {
      &:before {
        @include bg($vk);
      }
    }
    &--in {
      &:before {
        @include bg($in);
      }
    }
  }
}
