mixin section-teachers(data)
  .section-teachers.section
    .section-teachers__wrapper
      .cloud
      .elipsecircle
      .section-teachers-left
        img(src="%=static=%images/assets/section-teachers/teachers.png" alt)
      
      .section-teachers-right
        .section-teachers-title.title
          h2.c-white Преподаватели

        .section-teachers-content.content
          p.c-white Мы особым образом отбираем преподавателей, и поэтому у нас работают только лицензированные педагоги Montessori, только те, кто должным образом воспитал своих собственных детей.

        .section-teachers-list
          //- t1
          .section-teachers-list-item
            .section-teachers-list-item__img
              img(src="%=static=%images/assets/section-teachers/t1.png" alt)
            .section-teachers-list-item__content
              .section-teachers-list-item__name Rebecca Caroll
              .section-teachers-list-item__pro Преподаватель, Англия
         
          //- t2
          .section-teachers-list-item
            .section-teachers-list-item__img
              img(src="%=static=%images/assets/section-teachers/t2.png" alt)
            .section-teachers-list-item__content
              .section-teachers-list-item__name Karen Hulse
              .section-teachers-list-item__pro Преподаватель, США

          //- t3
          .section-teachers-list-item
            .section-teachers-list-item__img
              img(src="%=static=%images/assets/section-teachers/t3.png" alt)
            .section-teachers-list-item__content
              .section-teachers-list-item__name Диана Сулейманова
              .section-teachers-list-item__pro Координатор, Россия

          //- t4
          .section-teachers-list-item
            .section-teachers-list-item__img
              img(src="%=static=%images/assets/section-teachers/t4.png" alt)
            .section-teachers-list-item__content
              .section-teachers-list-item__name Инна Каноныхина
              .section-teachers-list-item__pro Руковоитель пед. группы

          //- t5
          .section-teachers-list-item
            .section-teachers-list-item__img
              img(src="%=static=%images/assets/section-teachers/t5.png" alt)
            .section-teachers-list-item__content
              .section-teachers-list-item__name Джек Рассел
              .section-teachers-list-item__pro Координатор, Бельгия

          //- t6
          .section-teachers-list-item
            .section-teachers-list-item__img
              img(src="%=static=%images/assets/section-teachers/t6.png" alt)
            .section-teachers-list-item__content
              .section-teachers-list-item__name Джон Висмульс
              .section-teachers-list-item__pro Руковоитель пед. группы