mixin section-contact(data)
  .section-contact.section(data-anchor="contacts")
    .cloud
    .elipsecircle
    .section-contact__wrapper
      .section-contact-form
        +callback-form
      .section-contact-partner
        .section-contact-partner__title Как стать частью нашей семьи?
        .content
          ol
            li Вы оставляете заявку или созываетесь с нами по телефону. 
            li Мы приглашаем вас на тестирование. <br>По итогам тестирования принимается решение о зачислении вашего ребенка и подбирается индивидуальная программа развития.
            li Заключается договор.
        .section-contact-partner-bottom
          .section-contact-partner-bottom__dou Хотите стать нашим партнером и открыть детский сад?
          a(href="http://oneischool.com/index.php/ru/sotrudnichestvo/franshiza" title="" target="_blank").button.button--white.small Да, хочу