.section-reviews {
  overflow: hidden;
  &__wrapper {
    position: absolute;
    top: 50%;

    padding-left: 720px;

    transform: translateY(-50%);

    @extend .wrapper;
    @media screen and (max-width: 1680px) {
      padding-left: 720px;
    }
    @media screen and (max-width: 1360px) {
      // padding-left: 620px;
    }
  }
}
.section-reviews-left {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-52%);
  @media screen and (max-width: 2560px) {
    width: 50%;
  }
  @media screen and (max-width: 1680px) {
    width: 610px;
  }
}
.section-reviews-right {
  @media screen and (max-width: 2560px) {
    position: absolute;
    top: 50%;
    left: 55%;

    width: 40%;

    transform: translateY(-50%);
  }
  @media screen and (max-width: 1680px) {
    left: 50%;

    width: 35%;
  }
}

.section-reviews-content-block {
  &__title {
    margin-bottom: 20px;

    color: $orange;
    @media screen and (max-width: 2560px) {
      font-size: 45px;
    }
    @media screen and (max-width: 1680px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1360px) {
      font-size: 24px;
    }
  }
  &__question {
    display: inline-block;

    margin-left: 10px;

    vertical-align: middle;

    @include bg($question);
  }
}

.section-reviews-slide-review {
  // transition: all .1s ease-in-out
  box-sizing: border-box;
  width: 90%;

  color: $white;
  background-color: $purple;
  @media screen and (max-width: 2560px) {
    height: 65vh;
    padding: 80px;

    border-radius: 20px;
  }
  @media screen and (max-width: 1920px) {
    border-radius: 0 20px 20px 0;
  }
  @media screen and (max-width: 1680px) {
    height: 420px;
    padding-top: 40px;
    padding-right: 55px;
    padding-bottom: 38px;
    padding-left: 55px;
  }
  @media screen and (max-width: 1360px) {
    height: 340px;
    padding-top: 30px;
    padding-right: 35px;
    padding-bottom: 18px;
    padding-left: 35px;
  }
}
.section-reviews-slide-review-bottom {
  font-family: $SourceSansPro-Regular;

  @include flex(space-between, center);
}
.section-reviews-slide-review-user {
  @include flex(flex-start, center);
  &__img {
    margin-right: 20px;
  }
  &__name {
    color: $orange;

    line-height: 1;
    @media screen and (max-width: 2560px) {
      font-size: 38px;
    }
    @media screen and (max-width: 1680px) {
      font-size: 24px;
    }
    @media screen and (max-width: 1360px) {
      font-size: 21px;
    }
  }
  &__pro {
    color: $white;
    @media screen and (max-width: 2560px) {
      font-size: 32px;
    }
    @media screen and (max-width: 1680px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1360px) {
      font-size: 14px;
    }
  }
}
.section-reviews-slide-review-video {
  position: relative;

  display: block;

  color: $orange;
  @media screen and (max-width: 2560px) {
    font-size: 28px;
  }
  @media screen and (max-width: 1680px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1360px) {
    font-size: 16px;
  }
  &:before {
    position: absolute;
    top: 50%;
    left: -36px;

    transform: translateY(-50%);

    @include content;
    @include bg($camera);
  }
  &:hover {
    text-decoration: none;
  }
}

// slick-slider
.slick-vertical-slide {
  padding-right: 40px;

  opacity: .5;
  &--active {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 0;

    opacity: 1;
    .section-reviews-slide-review {
      width: 100%;
      .section-reviews-slide-review-bottom {
        margin-top: 80px;
        @media screen and (max-width: 1360px) {
          margin-top: 40px;
        }
      }
    }
  }
}
