.section-elite {
  position: relative;

  padding-top: 0 !important;

  background-color: $purple;
  &__wrapper {
    position: relative;
    top: 50%;

    transform: translateY(-50%);

    @extend .wrapper;
  }
}

.section-elite-slide {
  position: relative;

  overflow: hidden;

  @include flex(flex-start, center);
  img {
    width: 100%;
    height: 100%;
  }
  .slick-control {
    bottom: 250px;
  }
  &--first {
    position: relative;
    top: 50%;

    transform: translateY(15%);
    .section-elite-slide__img {
      position: relative;

      overflow: hidden;

      width: 685px;
      height: 700px;
      margin-right: 35px;
      @media screen and (max-width: 1360px) {
        height: 550px;
        width: 625px;
      }
      img {
        position: absolute;
        left: -616px;

        width: auto;
        height: auto;
        @media screen and (max-width: 1360px) {
          left: -416px;
          height: 100%;
        }
      }
    }
    .slick-control {
      position: relative;
      bottom: 0;

      margin-top: 30px;
      margin-left: 0;

      @media screen and (max-width: 1360px) {
        margin-top: 0;
      }
    }
  }
}

.section-elite-content {
  position: relative;

  max-width: 590px;
}

.section-elite-content-companies {
  margin-top: 60px;

  flex-wrap: wrap;
  @include flex(flex-start, center);
  @media screen and (max-width: 1360px) {
        margin-top: 0;
      }
  &__item {
    margin-right: 60px;
    margin-bottom: 30px;

    text-indent: -9999px;
    &--microsoft {
      @include bg($microsoft);
    }
    &--adidas {
      margin-right: 120px;

      @include bg($adidas);
    }
    &--intel {
      @include bg($intel);
    }
    &--3m {
      @include bg($_3m);
    }
    &--jnj {
      @include bg($jnj);
    }
  }
}
