mixin change-language(data)
  .change-language.jsChangeLanguage
    a(href="#" title="").change-language__item(class="jsChangeLanguageItem")._active Ру
    a(href="#" title="").change-language__item(class="jsChangeLanguageItem") En