mixin section-map(data)
  .section-map.section
    .section-map__wrapper
      .section-map-information
        .section-map-information__left
          .section-map-information__title В самом экологичном районе Москвы
          .section-map-information__title.section-map-information__title--orange Доступность: 10 мин
        .section-map-information__right
          .section-map-information-contact
            .section-map-information-contact__item
              span T
              | +7 (495) 645-99-65
            .section-map-information-contact__item
              span E
              | hello@oneischool.com
            .section-map-information-contact__item
              span M
              | Крылатское, ул. Крылатские холмы, 34/1, Бизнес парк «Крылатские холмы»

    img(src="%=static=%images/assets/section-map/temp-map.png" alt="")
