mixin section-map(data)
  .section-map.section(data-anchor="map")
    .section-map__wrapper
      .section-map-information
        .section-map-information__left
          .section-map-information__title В самом экологичном районе Москвы
          .section-map-information__title.section-map-information__title--orange Доступность: 10 мин
        .section-map-information__right
          .section-map-information-contact
            .section-map-information-contact__item
              span T
              | +7 (495) 645-99-65
            .section-map-information-contact__item
              span E
              | hello@oneischool.com
            .section-map-information-contact__item
              span M
              | Крылатское, ул. Крылатские холмы, 34/1, Бизнес парк «Крылатские холмы»

    .section-map-box
      <iframe width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v4/danielsolosyatov.k99kalmj/attribution,zoompan,zoomwheel.html?access_token=pk.eyJ1IjoiZGFuaWVsc29sb3N5YXRvdiIsImEiOiJiSWd3R2wwIn0.rawhYvaNqelgy40Au44YKA' scrolling="no"></iframe>
