mixin section-map(data)
  .section-map.section(data-anchor="map")
    .section-map__wrapper
      .section-map-information
        .section-map-information__left
          .section-map-information__title В самом экологичном районе Москвы
          .section-map-information__title.section-map-information__title--orange Доступность: 10 мин
        .section-map-information__right
          .section-map-information-contact
            .section-map-information-contact__item
              span T
              | +7 (495) 645-99-65
            .section-map-information-contact__item
              span E
              | hello@oneischool.com
            .section-map-information-contact__item
              span M
              | Крылатское, ул. Крылатские холмы, 34/1, Бизнес парк «Крылатские холмы»

    .section-map-box
      //- iframe(src="https://api.mapbox.com/styles/v1/extiser/cirbopa3k001jh2m12qml1fuc.html?title=true&access_token=pk.eyJ1IjoiZXh0aXNlciIsImEiOiJjaXJib285MXgwMDRxaWttZ3Y2NjNrdTRqIn0.tPZAwIfqgzVS2GmlJFuZhg#9/55.74716562482524/37.42795418052967/0" width="100%" height="100%")
