mixin section-gallery(data)
  .section-gallery.section
    .section-gallery__wrapper
      .slide-control
        .slide-control__arrow.slide-control__arrow--prev(class="fp-controlArrow")
        .slide-control__arrow.slide-control__arrow--next(class="fp-controlArrow")
      .section-gallery-slide.slide.active
        .section-gallery-slide-information
          .section-gallery-slide-information__title Живописный мост
          .section-gallery-slide-information__text Окна нашего детского сада выходят на вид одного из самых красивых сооружений в Москве.
        img(src="%=static=%images/assets/section-gallery/slide-1.jpg" alt="")

      .section-gallery-slide.slide
        img(src="%=static=%images/assets/section-gallery/slide-1.jpg" alt="")