.section-gallery {
  overflow: hidden;

  padding-top: 0 !important;
  &__wrapper {
    @extend .wrapper;
  }
  .slide-control {
    @media screen and (max-width: 1360px) {
      bottom: 10px;
    }
  }
}

.section-gallery-slide {
  max-width: 100%;
}

.section-gallery-slide-information {
  position: absolute;
  right: 0;
  bottom: 280px;
  left: 0;

  box-sizing: border-box;
  width: 530px;
  margin: auto;
  padding: 20px 30px;

  border-radius: 20px;
  background-color: rgba($white, .8);
  @media screen and (max-width: 1360px) {
    bottom: 380px;
  }
  &__title {
    color: $orange;

    font-family: $ProbaPro-Medium;
    font-size: 30px;
  }
  &__text {
    margin-top: 8px;
    margin-bottom: 12px;

    color: $purple;

    font-family: $SourceSansPro-Regular;
    font-size: 18px;
  }
}
