mixin top-menu(data)
  .top-menu
    .top-menu__mobile
    .top-menu__list
      a(href="#" title="").top-menu__item О саде
      a(href="#" title="").top-menu__item Контакты
      a(href="#" title="").top-menu__item Экология
      a(href="#" title="").top-menu__item Среда
      a(href="#" title="").top-menu__item Образование
      a(href="#" title="").top-menu__item Педагоги
      a(href="#" title="").top-menu__item Отзывы