mixin top-menu(data)
  .top-menu
    .top-menu__mobile
    .top-menu__list
      a(href="#about" title="" data-menuanchor="about").top-menu__item О саде
      a(href="#map" title="" data-menuanchor="map").top-menu__item Контакты
      a(href="#gallery" title="" data-menuanchor="gallery").top-menu__item Экология
      a(href="#elite" title="" data-menuanchor="elite").top-menu__item Среда
      a(href="#education" title="" data-menuanchor="education").top-menu__item Образование
      a(href="#teachers" title="" data-menuanchor="teachers").top-menu__item Педагоги
      a(href="#reviews" title="" data-menuanchor="reviews").top-menu__item Отзывы