mixin timer(data)
  .timer.js-timer(data-time="2016-09-01")
    span.timer__item.js-timer-days
    span.timer__item.js-timer-hours
    span.timer__item.js-timer-minutes
    span.timer__item.js-timer-seconds