mixin section-about(data)
  .section.section-about(data-anchor="about")
    .section-about__wrapper
      .cloud
      .elipse
      .elipsecircle
      .section-about-left
        .section-about-video
          a(href="https://vimeo.com/159956067" title="" target="_blank").section-about-video__play
          .section-about-video__bg
            img(src="%=static=%images/assets/section-about/video-bg.png" alt="")
      .section-about-right
        .section-about-title.title
          h2.c-white О детском саде
          h3.c-purple Каждый детский сад компании <br>One! International School это:

        .section-about-content.content
          p.c-white Индивидуальный подход к каждому ребенку (до 6 детей на 1 педагога Монтессори)

          p.c-white Передовые технологии (использование технологий Google, Lego Education)

          p.c-white Особая среда (на основе методики Монтессори, раннего билингвизма, классической музыки, живописи)

          p.c-white Двудипломная система образования IB — International Baccalaureate

          p.c-white Видеонаблюдение
        //- .section-about-advantages
        //-   .section-about-advantages-item.section-about-advantages-item--fullday
        //-     .section-about-advantages-item__title Полный день
        //-     .section-about-advantages-item__text Мы работаем с 08:00 до 20:00. Обеспечиваем детей пятиразовым питанием. Очень многоинтересных занятий!
        //-   .section-about-advantages-item.section-about-advantages-item--individual
        //-     .section-about-advantages-item__title Индивидуальный подход
        //-     .section-about-advantages-item__text Для каждого ребенка разрабатывается <br>индивидуальный план развития.