mixin section-about(data)
  .section.section-about
    .section-about__wrapper
      .cloud
      .elipse
      .elipsecircle
      .section-about-left
        .section-about-video
          a(href="#" title="").section-about-video__play
          .section-about-video__bg
            img(src="%=static=%images/assets/section-about/video-bg.png" alt="")
      .section-about-right
        .section-about-title.title
          h2.c-white О детском саде
          h3.c-purple Лучшие детские сады по версии <br>Ассоциации детских садов Москвы

        .section-about-content.content
          p.c-white Для каждого нашего воспитанника мы организуем первичное тестирование и по итогам совместно с родителями разрабатываем траекторию развития ребенка. 

        .section-about-advantages
          .section-about-advantages-item.section-about-advantages-item--fullday
            .section-about-advantages-item__title Полный день
            .section-about-advantages-item__text Мы работаем с 08:00 до 20:00. Обеспечиваем детей пятиразовым питанием. Очень многоинтересных занятий!
          .section-about-advantages-item.section-about-advantages-item--individual
            .section-about-advantages-item__title Индивидуальный подход
            .section-about-advantages-item__text Для каждого ребенка разрабатывается <br>индивидуальный план развития.